body {
  background-color: #202124;
}

strong {
  font-size: xx-large;
  color: white;
  font-family: monospace;
}

a {
  font-family: monospace;
}

img {
}

h1 {
  font-family: sans-serif;
}

h3 {
  font-family: monospace;
}

